# NextJs
NODE_ENV=development

# API
NEXT_PUBLIC_API_URL=http://192.168.1.111:9001
NEXT_PUBLIC_SOCKET_PATH=/teammango/teleplay/be/socket.io

# NextAuth
NEXTAUTH_SECRET=

# Auth credentials
AUTH_USERNAME=admin
AUTH_PASSWORD=
